{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
{% if name %}
    <p>Welcome back, {{ name }}!</p>
{% endif %}

    <div id="adsContainer" class="adsContainer">
        <script>
            function goToAdPage(id){
                window.location.href = "../ad/" + id;
            }
        </script>
        {% for ad in ads %}
            <div class="ad" id="{{ad.id}}" onclick="goToAdPage(this.id)">
                <div class="ad-image">
                    {% if ad.image_path %}
                        <img class="ad-image-source" src="{{ad.image_path}}">
                    {% endif %}
                </div>
                <div class = "ad-info">
                    <p class = 'name'>{{ad.name}}</p>
                    <p class = 'user_name'>{{ad.user_name}}</p>
                    <p class = 'date_created'>{{ad.date_created}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
